body{
    margin: 0 auto;
    border: 5px double darkgrey;
    padding: 1%;
    background-color: rgba(215, 218, 214, 0.384);
  }

.container{
    border: 5px double blue;
}

label{
    font-size:14px;
}

input{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

#btnDelete{
    margin-top: 18px;
    margin-left: 20px;
}

#btnUpdate{
    margin-top: 18px;
    
}
#checkBoxes{
    margin-top: 4px; 
}

#labelAge, #labelInTruth{
    border: 1px solid green;
    padding: 0px;
    margin: 0px;
}

#addressDetails, #personalDetails{
    margin-top: 5px;
}

h3{
    color:teal;
}

th{
    font-size: small;
}

td{
    padding: 1px;
    font-size:small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
tr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}








