
<header>

    
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark ">
    
        
            <a class = "navbar-brand " alt=""> Employee </a>
        
            <a class = " nav-link " routerLink = "employees"  routerLinkActive="active" >Employee List</a>
            <
        
            <a class = "nav-link" routerLink = "create-employee" routerLinkActive="active">New Employee</a>
        
        <!-- <li  >
            <a class = "nav-link" href="https://www.jw.org/">JW.org</a>
        </li> -->
    
</nav>
</header>

<div class = "container" id="container1">
   
    <router-outlet></router-outlet>
    
</div>

<footer class = "footer bg-secondary">
    <div class="container">
        <span>All Rights Reserved 2021 @FitsIT</span>
    </div>

</footer>