
<nav class="navbar navbar-expand-sm bg-primary navbar-dark ">
    <ul class="navbar-nav nav-item nav-link ">
        <li >
            <a class = "nav-link" routerLink = "employees"  routerLinkActive="active" >Employee List</a>
        </li>
        <li>
            <a class = "nav-link" routerLink = "create-employee" routerLinkActive="active">New Employee</a>
        </li>
        <!-- <li  >
            <a class = "nav-link" href="https://www.jw.org/">JW.org</a>
        </li> -->
    </ul>
</nav>

<div class = "container" id="container1">
   
    <router-outlet></router-outlet>
    
</div>

<footer class = "footer bg-primary">
    <div class="container">
        <span>All Rights Reserved 2021 @FitsIT</span>
    </div>

</footer>